<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Shattering Expectations</h1>
            <hr>
            <h2>
                Software Development, Distributed Systems, and Devops Archtecture Services in London
            </h2>
            <hr>
            <p>Got a tough computing challenge that needs solving?</p>
            <p>Need a software project accelerated? </p>
            <p>Want to automate your product's deployment? </p>
            <p>Got a monolith you want to break into microservices? </p>
            <h2>Look no further.</h2>
            <br/>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
